<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Lung Cancer Prediction </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> AGE :  <input type="number" name='a', placeholder="enter 1" > <br><br>
            SMOKING :  <input type="number", name='b', placeholder="enter 2" > <br><br>
            YELLOW_FINGERS:  <input type="number", name='c', placeholder="enter 3" > <br><br>
            ANXIETY :  <input type="number", name='d', placeholder="enter 3" > <br><br>
            PEER_PRESSURE : <input type="number", name='e', placeholder="enter 4" > <br><br>
            CHRONIC_DISEASE : <input type="number", name='f', placeholder="enter 4" > <br><br>
            FATIGUE : <input type="number", name='g', placeholder="enter 4" > <br><br>
            ALLERGY : <input type="number", name='h', placeholder="enter 4" > <br><br>
            WHEEZING : <input type="number", name='i', placeholder="enter 4" > <br><br>
            ALCOHOL_CONSUMING : <input type="number", name='j', placeholder="enter 4" > <br><br>
            COUGHING : <input type="number", name='k', placeholder="enter 4" > <br><br>
            SHORTNESS_OF_BREATH  : <input type="number", name='l', placeholder="enter 4" > <br><br>
            SWALLOWING_DIFFICULTY : <input type="number", name='m', placeholder="enter 4" > <br><br>
            CHEST_PAIN : <input type="number", name='n', placeholder="enter 4" > <br><br>
            GENDER :  <input type="number", name='p', placeholder="enter 1" > <br><br>
        </b>
            <input type="submit" , value='predict!' >
        </form>
        
    </center>

    </body>
</html>
